<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        夢語一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @dreams.each do |dream| %>  <%# dreamsテーブルから全てのデータを取り出す %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to dream_path(dream) do %>  <%# 夢イメージ画像をクリックすると夢投稿詳細ページに遷移 %>
                  <%= image_tag dream.image %>       <%# 夢イメージ画像を表示 %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(dream.user.id) do %>     <%# プロフィール画像をクリックしたらユーザーの詳細ページに遷移 %>
                      <% if dream.user.profile_image.present? %>   <%# プロフィール画像がある場合表示する %>
                        <%= image_tag dream.user.profile_image %>  <%# ユーザーのプロフィール画像を表示 %>
                      <% else %>                                   <%# ユーザーのプロフィール画像がない場合サンプル画像を表示する %>
                        <%= image_tag "item-sample.png" %>         <%# サンプルプロフィール画像を表示 %>
                      <% end %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to dream.user.username, user_path(dream.user.id) %></div>  <%# 投稿したユーザーのユーザー名を表示し、クリックしたらユーザー詳細画面に遷移 %>
                </div>
              </div>
              <div class="content">
                <% if user_signed_in? %>  <%# ログインしたユーザーのみいいね機能がみれる %>
                  <% if current_user.already_favorited?(dream) %>  <%# いいねを押した記事がある判断する %>
                    <%= link_to 'いいねを外す', dream_like_path(@dreams, dream), method: :delete %>
                  <% else %>
                    <%= link_to 'いいね', dream_likes_path(dream), method: :post %>
                  <% end %>
                  <%= dream.likes.count %>  <%# いいねの数を表示する %>
                <% end %>
              </div>
              <div class="content">
                <time><%= dream.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新  <%# 投稿した日(日本時間に設定) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>