<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        夢語一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @dreams.each do |dream| %>  <%# dreamsテーブルから全てのデータを取り出す %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to dream_path(dream) do %>  <%# 夢イメージ画像をクリックすると夢投稿詳細ページに遷移 %>
                  <%= image_tag dream.image %>  <%# 夢イメージ画像を表示 %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= image_tag dream.user.profile_image %>  <%# 投稿したユーザーのユーザープロフィール画像を表示 %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= dream.user.username %></div>  <%# 投稿したユーザーのユーザー名を表示 %>
                </div>
              </div>
              <div class="content">
                <time><%= dream.updated_at.strftime("%Y-%m-%d %H:%M") %></time>  <%# 投稿した日(日本時間に設定) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>