<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        夢語
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= image_tag @dream.image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">叶えたい夢</p>  <%# 叶えたい夢のタイトル %>
                <p class="title is-4"><%= @dream.title %></p>  <%# 叶えたい夢のタイトル %>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>夢語</th>
                </tr>
                <tr>
                  <td><%= simple_format @dream.body %></td>    <%# 夢語りの内容 %>
                </tr>
              </table>
              <% if user_signed_in? %>
                <table class="table is-narrow">
                  <% if current_user.already_favorited?(@dream) %>  <%# いいねを押した記事がある判断する %>
                    <th>
                      <tr>
                        <%= link_to dream_like_path(@dream), method: :delete do %>
                          <i class="fas fa-heart"></i>  <%# Font Awesomeでハートマークを導入 %>
                        <% end %>
                        いいね数：<%= @dream.likes.count %>  <%# いいねの数を表示する %>
                      </tr>
                    </th>
                  <% else %>
                    <tr>
                      <th>
                        この夢語を応援する→
                          <%= link_to dream_likes_path(@dream), method: :post do %>
                            <i class="far fa-heart"></i>  <%# Font Awesomeでハートマークを導入 %>
                          <% end %>
                        いいね数：<%= @dream.likes.count %>  <%# いいねの数を表示する %>
                      </th>
                    </tr>
                  <% end %>
                    <tr>
                      <th>
                        <% if @dream.user.id == current_user.id %>  <%# ユーザー本人なら編集ボタンを表示 %>
                          <%= link_to "編集画面へ", edit_dream_path(@dream), class: "button is-success" %>
                        <% end %>
                      </th>
                    </tr>
                </table>
              <% else %>
                <table class="table is-narrow">
                  <td>夢語応援者👍：<%= @dream.likes.count %></td>
                </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column is-4">
        <article class="panel is-link">

          <p class="panel-heading">
            <%= @dream.user.username %>     <%# 投稿したユーザー名を表示 %>
            さんプロフィール情報
          </p>

          <div class="panel-block">
            <p class="control">
              <%= @dream.user.profile %>    <%# 投稿したユーザーのプロフィールを表示 %>
            </p>
          </div>
          
          <%= link_to user_path(@dream.user), class: "panel-block" do %>   <%# 投稿したユーザーのユーザー詳細ページに遷移させる %>
          <span class="panel-icon">
            <i class="fas fa-user" aria-hidden="true"></i>  <%# Font Awesomeを導入 アイコンが表示されるようになる %>
          </span>
          <%= @dream.user.username %>さんのページへ  <%# ユーザー名をクリックすると、投稿したユーザーの詳細ページに遷移する %>
          <% end %>

          <%# コメントフォーム %>
          <% if user_signed_in? %>
            <table class="table is-narrow">
              <div class="field">
                <div class="panel-block">
                  <span class="panel-icon">
                    <i class="far fa-comment"></i>
                  </span>
                  <p>この記事にコメントする</p>
                </div>
              </div>

              <%= form_with(model: [@dream, @comment], local: true) do |f| %>
                <div class="field">
                  <%= f.text_area :text, placeholder: "コメントする", rows: "5", class: "textarea" %>
                </div>

                <div class="field has-text-centered">
                  <%= f.submit "コメントを送信", class: "button is-warning" %>
                </div>
              <% end %>
            </table>
          
          <% else %>
            <div class="panel-block">
              <strong><p>※コメントの投稿はログインが必要です※</p></strong>
            </div>
          <% end %>
          <%# コメントフォーム %>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">

        <%# コメント一覧表示 %>
          <table class="table is-narrow">
            <h4 class="has-text-centered">〜コメント一覧〜</h4>
            <% @comments.each do |comment| %>
              <p>
                <div class="field">
                  <strong><%= link_to comment.user.username, user_path(comment.user_id) %>さん:</strong>
                </div>
              </p>
              <p>
                <div class="field">
                  <%= simple_format comment.text %>
                </div>
              </p>
            <% end %>
          </table>
        <%# コメント一覧表示 %>

      </div>
    </div>
  </div>
</section>