<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        å¤¢èªžè€…ä¸€è¦§
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @users.each do |user| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to user_path(user) do %>       <%# ç”»åƒã‚’ã‚¯ãƒªãƒƒã‚¯ã—ãŸã‚‰ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®è©³ç´°ãƒšãƒ¼ã‚¸ã«é·ç§»ã™ã‚‹ %>
                    <% if user.profile_image.present? %>  <%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç”»åƒãŒã‚ã‚‹å ´åˆè¡¨ç¤ºã™ã‚‹ %>
                      <%= image_tag user.profile_image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0").processed %>
                    <% else %>                            <%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç”»åƒãŒãªã„å ´åˆã‚µãƒ³ãƒ—ãƒ«ç”»åƒã‚’è¡¨ç¤ºã™ã‚‹ %>
                      <%= image_tag "user_image.png" %>
                    <% end %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  å¤¢èªžè€…
                  <div class="title"><%=link_to user.username, user_path(user) %></div>  <%# ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®åå‰ã‚’ã‚¯ãƒªãƒƒã‚¯ã—ãŸã‚‰ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®è©³ç´°ãƒšãƒ¼ã‚¸ã«é·ç§»ã™ã‚‹ %>
                </div>
              </div>
              <div class="content">
                ðŸ“ƒæŠ•ç¨¿æ•°ï¼š<%= user.dreams.count %>  <%# ãƒ¦ãƒ¼ã‚¶ãƒ¼ã«ç´ã¥ã„ã¦ã„ã‚‹å¤¢èªžã‚’ã‚«ã‚¦ãƒ³ãƒˆã™ã‚‹ %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>