<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
              <% if @user.profile_image.present? %>  <%# プロフィール画像がある場合表示する %>
                <%= image_tag @user.profile_image.variant(gravity: :center, resize:"640x640^", crop:"640x640+0+0").processed %>
              <% else %>                             <%# プロフィール画像がない場合サンプル画像を表示する %>
                <%= image_tag "item-sample.png" %>
              <% end %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>
                <% if @user.id == current_user.id %>  <%# ユーザー本人のマイページは編集ボタンとemailが表示される %>
                  <td class="is-size-4">
                    <%= @user.email %>
                  </td>
                  <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                  </td>
                <% end %>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= simple_format @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.dreams.each do |dream| %>  <%# ユーザーが投稿した夢語一覧を表示する %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                  <%= image_tag dream.image %>  <%# ユーザーが投稿したイメージ画像を表示する %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  
                  <%= link_to dream_path(dream), class: "panel-block" do %>  <%# ユーザーが投稿した詳細ページに遷移する %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>  <%# Font Awesomeを導入 アイコンが表示されるようになる %>
                    </span>
                    この夢語を見る
                  <% end %>
                  
                  <%= link_to edit_dream_path(dream), class: "panel-block" do %>  <%# ユーザーが投稿した詳細ページを編集する %>
                    <span class="panel-icon">
                      <i class="fas fa-edit"></i>  <%# Font Awesomeを導入 アイコンが表示されるようになる %>
                    </span>
                    この夢語を編集する
                  <% end %>

                  <%= link_to dream_path(dream), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>   <%# ユーザーが投稿した詳細ページを削除する %>
                    <span class="panel-icon">
                      <i class="fas fa-trash"></i>  <%# Font Awesomeを導入 アイコンが表示されるようになる %>
                    </span>
                    この夢語を削除する
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= dream.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新  <%# ユーザーが投稿した更新日を表示 %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>